/* #box {
    display: flexbox;
    align-items: flex-start;
    justify-content: space-between;

} */

.contact-title {
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 50%;
    background-color: #060b26;
    color: white;
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */

}

.wrapperNewClientForm {
    /* font-size: 120%; */
    width: 50%;
    margin: auto;
    border-radius: 2%;
    background-color: #f2f2f2;
    padding: 1%;
}

.newClientFormulaire {
    width: 100%;
}

@media screen and (max-width: 768px)  {
    .wrapperNewClientForm {
        width: 70%;
    }
    .contact-title {
    width: 100%;

    }
}

.newClientContainer {
    background-color:white;
}

.champs {
    width: 100%;
    white-space: pre;
    padding: 12px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.contact-button {
    margin: auto;
    background-color: #4CAF50;
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:100%;
    vertical-align: middle;
}

#contact-button:hover {
    background-color: #45a049;
}