.tempPage-header {
    /* margin: 0 auto; */
}

.tempPage-icon {
    /* font-size: 300px; */
}

.tempPage-title {
    padding-top: 2%;
    text-align: center;
    font-size: 700%;
}

.tempPage-title-2 {
    padding: 2%;
    margin: 0 auto;
    text-align: justify;
    font-size: 200%;
    width: 57%;
}

.tempPage-text {
    font-size: 120%;
    margin: 0 auto;
    width: 50%;
    text-align: justify;
}

@media screen and (max-width: 600px) {
    .tempPage-text {
        width: 80%;
        /* color: red; */
        
    }
    .tempPage-title {
        font-size: 400%;
    }
    .tempPage-title-2 {
        width: 82%;
        font-size: 180%;

    }
}

@media screen and (max-width: 350px) {
    .tempPage-title {
        font-size: 300%;
        }
}