/* .tempPage-header {
}

.tempPage-icon {
} */

.tempPage-title {
    padding-top: 2%;
    text-align: center;
    font-size: 8vw;
}

.tempPage-title-2 {
    padding: 2%;
    margin: 0 auto;
    text-align: justify;
    font-size: 200%;
    width: 51%;
}

.tempPage-text {
    font-size: 120%;
    margin: 0 auto;
    width: 51%;
    text-align: justify;
}

@media screen and (max-width: 600px) {
    .tempPage-text {
        width: 96vw;
        padding-right: 2vw;
        padding-left: 2vw;
        
    }
    .tempPage-title {
        font-size: 15vw;;
    }
    .tempPage-title-2 {
        width: 82vw;
        font-size: 7vw;

    }
}

@media screen and (max-width: 350px) {
    /* .tempPage-title {
        font-size: 10vw;
        } */
}