.Advancement {
    padding-bottom: 2vw;
    text-align: center;
}

.advancement-title {
    font-size: 5vw;
}

.days {
    font-size: 3vw;
}

.textOnBar {
    font-size: 5vw;
}

@media screen and (max-width: 768px)  {
    .textOnBar {
        font-size: 10vw;
    }
    .advancement-title {
        font-size: 10vw;
    }
    .days {
        font-size: 8vw;
    }
    
    
}

@media screen and (max-width: 390px) {
    /* .advancement-title {
        font-size: 500%;
    }     */
}

.progressBarContainer {
    padding: 3%;
    margin: 0 auto;
    width: 50%;
}
