.navbar {
    z-index: 10;
    background-color: #060b26;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translate(0, 0);
    transition: 850ms;
  }

.navbar.hidden {
  transform: translate(0, -100%);
  transition: 850ms;
}

.navbarTitle {
  text-align: center;
  font-size: 60px;
  font-size: 400%;

  color: white;
}

@media screen and (max-width: 450px)  {
  .navbarTitle {
      margin-top: 10px;
      font-size: 300%;
  }
}


.wraperTitle {
  top: 0;
  margin: 0 auto;
  margin-top: -10px;
  background-color: transparent;
  border: solid 0px;
  transition: 850ms;

}

.wraperTitle:hover {
  text-decoration: none;
  transform: scale(1.05);
  transition: 850ms;
}

.menu-bars {
  margin-left: 1.5rem;
  font-size: 2rem;
  background: none;
  cursor: pointer;
}

.menu-openItem {
  margin-left: 3px;
  margin-top: -15px;
  font-size: 2rem;
  background: none;
  cursor: pointer;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  transform: translate(-100%, 0);
  transition: 450ms;
}

.nav-menu.active {
  transform: translate(0, 0);
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}