* {
    box-sizing: border-box;
  }
  
  .pictures-wrapper {
    max-width: 1000px;
    margin: auto;
  }
  
  .pictures-row {
    margin: 8px -16px;
  }
  
  .pictures-row,
  .pictures-row > .pictures-column {
    padding: 8px;
  }
  
  .pictures-column {
    float: left;
    width: 25%;
  }
  
  .pictures-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .pictures-content {
    text-align: justify;
    background-color: white;
    padding: 10px;
  }
  
  @media screen and (max-width: 900px) {
    .pictures-column {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .pictures-column {
      width: 100%;
    }
  }